* {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.Full_screen_width {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #E5E5E5;
}

.MidContainer {
  border: 2px solid white;
  width: 843px;
  height: 653px;
  position: absolute;
  top: 45px;
  left: 360px;
  background-color: #fff;
  border-radius: 16px;
  mix-blend-mode: "pass through";
  -webkit-box-shadow: 0px 24px 60px rgba(36, 20, 72, 0.1);
          box-shadow: 0px 24px 60px rgba(36, 20, 72, 0.1);
}

.MidContainer .Pagination_block {
  width: 100%;
  height: 100px;
  border-radius: 16px;
  position: absolute;
  top: 0px;
}

.MidContainer .Pagination_block .PaginationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MidContainer .Pagination_block .PaginationList li {
  display: inline;
  color: #443663;
}

.MidContainer .Main_Block {
  width: 790px;
  height: 517px;
  border-radius: 16px;
  position: absolute;
  top: 106px;
  left: 25px;
}

.MidContainer .Main_Block .setPreferences h6 {
  width: 441px;
  height: 28px;
  font-size: 28px;
  line-height: 28px;
  position: absolute;
  top: 0px;
  left: 264px;
  color: #25252D, 100%;
  letter-spacing: 1px;
  font-weight: 600;
}

.MidContainer .Main_Block .Info_Box {
  width: 520px;
  height: 360px;
  position: absolute;
  left: 135px;
  bottom: 95px;
}

.MidContainer .Main_Block .Info_Box #UserName_group {
  position: absolute;
  left: 0px;
  width: 321px;
  height: 74px;
}

.MidContainer .Main_Block .Info_Box #UserName_group #UserName_Label {
  font-size: 12px;
}

.MidContainer .Main_Block .Info_Box #UserName_group #UserName {
  position: absolute;
  color: #828282, 100%;
  padding: 16px !important;
  font-size: 14px !important;
}

.MidContainer .Main_Block .Info_Box #SetHour_group {
  position: absolute;
  left: 345px;
  top: 0px;
  width: 175px;
  height: 74px;
}

.MidContainer .Main_Block .Info_Box #SetHour_group #SetHour_Label {
  font-size: 12px;
}

.MidContainer .Main_Block .Info_Box #SetHour_group #SetHour {
  position: absolute;
  color: #828282, 100%;
  padding: 16px !important;
  font-size: 14px !important;
  width: 91px;
}

.MidContainer .Main_Block .Info_Box #SetHour_group #Buttons {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 74px;
  height: 32px;
}

.MidContainer .Main_Block .Info_Box #SetHour_group #Buttons #Increment, .MidContainer .Main_Block .Info_Box #SetHour_group #Buttons #Decrement {
  border: 1px solid rgba(54, 35, 129, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  padding: 1px !important;
}

.MidContainer .Main_Block .Info_Box .Language_Checkbox {
  position: absolute;
  left: 0px;
  top: 98px;
  width: 100%;
  height: 262px;
}

.MidContainer .Main_Block .Info_Box .Language_Checkbox .Languages {
  position: absolute;
  left: 0px;
  border: 2px solid #EEEAF9;
  border-radius: 8px;
  background-color: #FCFBFD;
  top: 32px;
  width: 100%;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MidContainer .Main_Block .Info_Box .Language_Checkbox .language_box {
  width: 80px;
  position: relative;
  height: 24px;
  left: 22px;
  top: 10px;
  margin: 0px 55px 9px 0px !important;
}

.MidContainer .Main_Block .Info_Box .Language_Checkbox .language_box p {
  font-size: 14px !important;
  color: #828282;
  position: absolute;
  left: 27px;
  top: 0px;
}

.MidContainer .Main_Block .Info_Box .due_you_have_stylus {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 355px;
  height: 44px;
  border: 1px solid dodgerblue;
}

.MidContainer .Main_Block .Info_Box .due_you_have_stylus p {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 22.4px;
}

.MidContainer .Main_Block .Info_Box .Button_yes_no {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.MidContainer .Main_Block .Info_Box .Button_yes_no Button {
  width: 70px;
  height: 40px;
  background-color: #fff;
  color: #8759F2;
  font-weight: 600;
  border: 2px solid #8759F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 0px 3px !important;
}

.MidContainer .Main_Block .Info_Box .Button_yes_no Button:hover {
  background-color: rgba(130, 130, 130, 0.2);
}

.MidContainer .Main_Block .FooterButton {
  position: absolute;
  left: 0px;
  bottom: 12px;
  height: 41px;
}

.MidContainer .Main_Block .FooterButton #Previous {
  color: #8759F2;
  height: 41px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  padding: 5px !important;
}

.MidContainer .Main_Block .FooterButton #Previous:hover {
  background-color: rgba(130, 130, 130, 0.2);
}

.MidContainer .Main_Block .FooterButton #Next {
  background-color: #8759F2;
  width: 100px;
  height: 41px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/*# sourceMappingURL=Desktopii.css.map */