*{
    margin:0 !important;
    padding:0 !important ;
    box-sizing: border-box !important;
}


.Full_screen_width{
    // border:2px solid black;
    border: none !important;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #E5E5E5;;

    // .PageDivider{
    //     border:2px solid red;
    //    width:100vw;
    //    height: 100vh;

    // }
}

.MidContainer{
    border:2px solid white;
    width: 843px;
    height: 653px;
    position: absolute;
    top: 45px;
    left: 360px;
    background-color: #fff;
    border-radius: 16px;
    mix-blend-mode: "pass through";
    box-shadow: 0px 24px 60px rgba(36, 20, 72, 0.1);

    .Pagination_block{
        width:100%;
        height:100px;
        // border:1px solid black;
        border:none !important;
        border-radius: 16px;
        position: absolute;
        top:0px;

        .PaginationList{

            // border:2px solid yellow;
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                // border:2px solid firebrick !important;
                display: inline;
                color:#443663;
            }
        }
    }


    .Main_Block{
        width:790px;
        height:517px;
        // border:1px solid red;
        border: none !important;
        border-radius: 16px;
        position: absolute;
        top:106px;
        left:25px;

        .whatisyourspecialization{


        


            h6{
                width: 441px;
                height: 28px;
                font-size: 24px ;
                line-height: 28px;
                position: absolute;
                top:0px;
                left:174px;
                color:#25252D, 100%;
                letter-spacing: 1px;
            }
    
            p{
                position: absolute;
                top:44px;
                left:260px;
                color:#828282, 100%;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                
                letter-spacing: 1px;
    
            }
        }

       

        .checkboxes{
            position: absolute;
            // border:1px solid dodgerblue;
            border: none !important;
            top:132px;
            left:0px;
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-start;

        }


        .FooterButton{
            position: absolute;
            left:0px;
            bottom: 12px;
            border: none !important;
           height: 41px;


           #Previous{
               color:#8759F2;
               height:41px;
               font-size: 16px;
               font-weight: 600;
               background-color: #fff;
               border:none;
               padding: 5px !important;

               &:hover{
                   background-color: rgba(130, 130, 130,0.2); 
               }
           }



           #Next{
               background-color: #8759F2;
               width:100px;
               height: 41px;
               position: absolute;
               right:0px;
               bottom: 0px;
           }
        }
    }
  
}


.CheckBox{
    width: 237px;
    height: 112px;
    background-color: #FCFBFD !important;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 8px;
    margin:8px 12px !important;
    position: relative;
}